.face {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: #d8c557;
	box-shadow: inset -3px 0 0 4px rgba(255, 102, 0, .15);
	position: relative;
}
.eye {
	width: 30px;
	height: 30px;
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 32px;
	left: 12px;
}
.eye:last-child {
	left: auto;
	right: 12px;
}
.eye::after {
	content: '';
	width: 12px;
	height: 12px;
	background-color: #000;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	animation: rolleyes 2s ease-in-out infinite;
}
.mouth {
	width: 20px;
	height: 5px;
	background-color: #884d0e;
	border-radius: 5px;
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
}
@keyframes rolleyes {
	10%{
		transform: translate(-14px, -50%);
	}
	15%{
		transform: translate(-14px, -15%);
	}
	20%,100%{
		transform: translate(-50%, -15%);
	}
}